button{
    cursor: pointer;
}

button:focus{
    outline: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}

/*Index*/
.landing-button{
    font-size: 1.8rem;
    height: 3rem;
    color: #888888;
    background-color: #FFFFFF;
    width: 100%;
    border: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    transition: background 0.5s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-button:hover{
    background-color: #FFFF1A;
}

/*map*/
.addButton{
    background-color: #888888;
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    transition: background 0.5s;
    z-index: 1000;
}

.addButton:hover{
    background-color: #FFFFFF;
}

.addButton img{
    width: 100%;
}

/*logon*/
.logItem button[type="submit"]{
    width: 100%;
    height: 3.5rem;
    font-size: 2.4rem;
    font-family: 'Lato', sans-serif;
    transition: color 0.5s;
    border-radius: 0 1rem 0 1rem;
    border: none;
    margin-top: 1rem;
}

.logItem button[type="submit"]:hover{
    color: #FFFF1A;
}

.logBackButton{
    background-color: #888888;
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    transition: background 0.5s;
}

.logBackButton:hover{
    background-color: #FFFF1A;
}

.logBackButton img{
    width: 100%;
}

/*upper*/
.upperBackButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.upperBackButton img{
    width: 100%;
}

/*complaint*/
.complaintItem > button[type="submit"], #btnCreateComplaint{
    width: 100%;
    color: #333333;
    background-color: #FFFF1A;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    border: none;
    height: 4rem;
    margin: 1rem auto;
    transition: background 0.5s;
}

.complaintItem > button[type="submit"]:hover, #btnCreateComplaint:hover{
    background-color: #888888;
}

.locationButtonDouble{
    display: flex;
    align-items: center;
    background-color: #333333;
}

.locationButtonDouble button{
    width: 100%;
    border: #333333 solid 1px;
    font-size: 2rem;
    height: 5rem;
    font-family: 'Lato', sans-serif;
    color: #333333;
    background-color: #FFFFFF;
    transition: color 0.5s;
}

.locationButtonDouble button:hover{
    color: #FFFF1A;
}

@media (min-width: 760px){
    .landing-button{
        font-size: 2.4rem;
        height: 4rem;
    }

    .logItem button[type="submit"]{
        width: 70%;
        position: middle;
        margin-top: 2rem;
    }

    .upperBackButton{
        width: 8vh;
    }

    .upperBackButton img{
        width: 8vh;
    }
}