button{
    cursor: pointer;
}

button:focus{
    outline: none;
}

/*Index*/
.landing-button{
    font-size: 1.8rem;
    height: 3rem;
    color: #888888;
    background-color: #FFFFFF;
    width: 100%;
    border: none;
    font-style: 'Lato', sans-serif;
    font-weight: 400;
    transition: background 0.5s;
}

.landing-button:hover{
    background-color: #FFFF1A;
}