@import url(../main.css);
@import url(./buttons.css);

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-landing{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
}

.logo-slogan{
    width: 100%;
    text-align: center;
    font-family: 'Electrolize', sans-serif;
}

.logo-slogan h1{
    font-size: 8rem;
    font-weight: 900;
    color: #FFFF1A;
}

.logo-slogan p{
    font-size: 2rem;
    font-weight: 600;
    color: #FFFFFF;
}

.landing-logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-logo img{
    width: 80%;
}

.landing-buttons{
    width: 100%;
}

#btnSeeMap{
    border-radius: 1rem 0;
}

.landing-buttons-double{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    margin-top: 1rem;
}

#btnLogon{
    border-radius: 1rem 0 0 0;
}

#btnSignup{
    border-radius: 0 0 1rem 0;
}

@media (min-width: 760px){
    #page-landing{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "title title" "logo buttons";
    }

    .logo-slogan{
        grid-area: title;
        justify-content: flex-start;
    }

    .logo-slogan h1{
        font-size: 10rem;
    }

    .logo-slogan p{
        font-size: 4rem;
    }

    .landing-logo{
        grid-area: logo;
        justify-self: center;
        width: 80%;
    }

    .landing-buttons{
        grid-area: buttons;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .landing-buttons-double{
        width: 100%;
    }


}