@import url(../main.css);
@import url(./buttons.css);
@import url(./forms.css);

#page-complaint{
    background-color: #FFFFFF;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-complaint header{
    width: 100%;
    max-width: 100vw;
    height: 10vh;
    background-color: #333333;
    display: grid;
    grid-template-columns: 1fr 8fr;
    align-items: center;
}

#page-complaint h2{
    text-align: center;
    font-size: 3rem;
    margin: 2rem auto;
    color: #FFFF1A;
    font-family: 'Electrolize', sans-serif;
}

.complaintInfo{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.complaintInfo p{
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    margin: 1rem auto 2rem;
    width: 100%;
}

#mapid{
    background-color: #888888;
    width: 100%;
    height: 40vh;
    border: #333333 solid 1px;
    border-radius: 1rem 0;
}

@media (min-width: 760px){
    .complaintInfo{
        width: 60%;
    }
}