<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wired | Cadastre-se</title>
    <link rel="icon" href="./images/logo_128.png">
    <link rel="stylesheet" href="./css/partials/page-signup.css">
</head>
<body>
    <div id="page-signup">
        <h1>Registre-se</h1>
        <form action="cadastrar-usuario" method="POST">
            <div class="logItem">
                <label for="signupName">Nome:</label>
                <input id="signupName" name="signupName" class="logInput" type="text">
            </div>
            <div class="logItem">
                <label for="signupEmail">E-mail:</label>
                <input id="signupEmail" name="signupEmail" class="logInput" type="email">
            </div>
            <div class="logItem">
                <label for="signupPassword">Senha:</label>
                <input id="signupPassword" name="signupPassword" class="logInput" type="password">
            </div>
            <div class="logItem">
                <label for="signupEqualPassword">Digite novamente a senha:</label>
                <input id="signupEqualPassword" name="signupEqualPassword" class="logInput" type="password">
            </div>
            <div class="logItem">
                <button type="submit">Cadastrar-se</button>
            </div>
        </form>
        <a href="/" class="logBackButton">
            <img src="./images/arrow_back.svg" alt="Voltar">
        </a>
    </div>
</body>
</html>